@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
body{
  background-color:hsl(216, 12%, 8%);
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
  font-family:OverPass, sans-serif;
  font-size: 15px;
  height: 100vh;
}
.container1,.container2{
    background:linear-gradient(hsl(213, 19%, 18%),hsl(213, 19%, 12%));
    display: flex;
    flex-direction: column;
    max-width:325px;
    padding:30px;
    gap:15px;
    border-radius:30px;
}
.container2{
  align-items:center;
  text-align:center;
}
.selection{
  color:hsl(25, 97%, 53%);
  background-color:hsl(213, 19%,22%);
  font-size:1em;
  padding:5px 20px;
  border-radius:30px;
  margin-bottom: 0px;
}
.Paragraph{
    opacity:0.4;
    margin-top:0px;
}
.rateContainer{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  margin-bottom:15px;
  padding:0px;
}
.rate{
  font-family:inherit;
  border-radius: 50%;
  font-size:1rem;
  font-weight:500;
  width:48px;
  height:48px;
  background-color: hsl(213, 19%,18%);
  border:none;
  color:inherit;
  cursor:pointer;
  color:hsl(216, 12%, 8%); 
  transition:background-color 0.3s;
  color:rgba(255, 255, 255, 0.425);
}
.rate:hover{
  background-color:hsl(25, 97%, 53%);
}
.selected,.selected:hover{
  background-color:white;
}
.question{
  margin-bottom:0px;
  margin-top:20px;
  font-weight:600;
  font-size:1.7rem;
  }
.star{
    display:flex;
    background-color: hsl(213, 19%, 24%);
    padding:15px;
    border-radius: 50%;
}
.submit{
  border-radius:30px;
  font-size:1.1em;
  padding:15px 0px;
  font-weight:700;
  background-color: hsl(25, 97%, 53%);
  color:hsl(216, 12%, 8%);
  border:none;
  cursor:pointer;
  transition: all 0.3s;
}
.submit:hover{
  background-color:hsl(0, 0%, 100%);
}